
.App {
  text-align: center;
}

body{
  color: #132b4b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addUserModal .modal-dialog{
  max-width: 1200px;
}

.login-comp {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  width: 250px;
}

button {
  border: unset;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
}

.button-action{ 
  padding: 0px 10px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.users {
  max-width: 900px;
  margin: auto;
}

.users h1{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #132b4b;
}
.users table {
  border: unset;
  margin: auto;
}
 .users th, .users td{
  
  border: 1px solid black;
  border-collapse: collapse;
}

.users th, .users td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.users tr{
  vertical-align: baseline;
}

.users .link{
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  justify-content: end;
  padding: 0px 100px;
}

.deleteUser {
  padding: 7px 18px !important;
  background: #e34f4f;
  color: white;
}

.search{
  margin-bottom: unset;
}

.addUser{
  background-color: green;
  color: white;
}